# Java
/build/
/.gradle/
.gradle/

# macOS
.DS_Store

# Local audio/text fixtures (not committed)
/tests/fixtures/*.wav
/tests/fixtures/*.json
/tests/fixtures/*.txt


# IntelliJ IDEA
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/gradle.xml
.idea/**/libraries
*.iws
*.iml
*.ipr
out/
build/
